1. DataTypes
2. Conditional Statements 
3. Loops

# Data Types:

| Data Type | Example          | Mutable  | Ordered   | Description       |
| --------- | ---------------- | -------- | -------   | ----------------- |
| int       | 10               | ❌       | ✅       | Whole number      |
| float     | 3.14             | ❌       | ✅       | Decimal number    |
| complex   | 2 + 3j           | ❌       | ✅       | Complex number    |
| str       | "hello"          | ❌       | ✅       | Text              |
| bool      | True             | ❌       | ✅       | True/False        |
| list      | [1, 2, 3]        | ✅       | ✅       | Sequence of items |
| tuple     | (1, 2, 3)        | ❌       | ✅       | Immutable list    |
| set       | {"a", "b"}       | ✅       | ❌       | Unique items      |
| dict      | {"a": 1, "b": 2} | ✅       | ❌       | Key-value pairs   |
| NoneType  | None             | ❌       | ❌       | No value          |

In [2]:
# 1️⃣ NUMERIC TYPES (int, float, complex)

print("-" * 50)
# Integer example
x = 10               # integer
y = -5
print("Integer Example:", x, y, type(x))

print("-" * 50)
# Float example
pi = 3.1415          # floating-point number
print("Float Example:", pi, type(pi))

print("-" * 50)
# Complex example
z = 2 + 3j           # complex number
print("Complex Example:", z, "Real:", z.real, "Imaginary:", z.imag)

print("-" * 50)
# Exercise: Check if an integer is even or odd
num = 7
if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

print("-" * 50)

--------------------------------------------------
Integer Example: 10 -5 <class 'int'>
--------------------------------------------------
Float Example: 3.1415 <class 'float'>
--------------------------------------------------
Complex Example: (2+3j) Real: 2.0 Imaginary: 3.0
--------------------------------------------------
7 is Odd
--------------------------------------------------

In [4]:
# 2️⃣ STRING (str)

print("-" * 50)
name = "Python"
print("String Example:", name, type(name))
print("Uppercase:", name.upper())
print("First Character:", name[0])
print("Reversed:", name[::-1])

print("-" * 50)
# Exercise: Reverse a string and show its length
text = "Hello World"
reversed_text = text[::-1]
print("Reversed Text:", reversed_text)
print("Length:", len(text))

print("-" * 50)

--------------------------------------------------
String Example: Python <class 'str'>
Uppercase: PYTHON
First Character: P
Reversed: nohtyP
--------------------------------------------------
Reversed Text: dlroW olleH
Length: 11
--------------------------------------------------

In [7]:
# 3️⃣ BOOLEAN (bool)

print("-" * 50)
is_python_fun = True
is_raining = False
print("Boolean Example:", is_python_fun, type(is_python_fun))

print("-" * 50)
# Exercise: Check if number > 100
n = 120
print(f"Is {n} > 100?", n > 100)

print("-" * 50)

--------------------------------------------------
Boolean Example: True <class 'bool'>
--------------------------------------------------
Is 120 > 100? True
--------------------------------------------------

In [8]:
# 4️⃣ LIST (mutable, ordered)

print("-" * 50)
fruits = ["apple", "banana", "cherry"]
print("List Example:", fruits, type(fruits))
fruits.append("orange")   # add an item
print("After append:", fruits)
print("Second Item:", fruits[1])


print("-" * 50)
# Exercise: Find max and min from list
numbers = [12, 45, 3, 22, 9]
print("Numbers:", numbers)
print("Max:", max(numbers), "Min:", min(numbers))

print("-" * 50)

--------------------------------------------------
List Example: ['apple', 'banana', 'cherry'] <class 'list'>
After append: ['apple', 'banana', 'cherry', 'orange']
Second Item: banana
--------------------------------------------------
Numbers: [12, 45, 3, 22, 9]
Max: 45 Min: 3
--------------------------------------------------

In [9]:
# 5️⃣ TUPLE (immutable, ordered)

print("-" * 50)
coordinates = (10, 20)
print("Tuple Example:", coordinates, type(coordinates))
print("First element:", coordinates[0])

print("-" * 50)
# Exercise: Try changing tuple value (will cause error)
try:
    coordinates[0] = 50
except TypeError as e:
    print("Error:", e)

print("-" * 50)

--------------------------------------------------
Tuple Example: (10, 20) <class 'tuple'>
First element: 10
--------------------------------------------------
Error: 'tuple' object does not support item assignment
--------------------------------------------------

In [14]:
# 6️⃣ SET (unique, unordered)

print("-" * 50)
colors = {"red", "green", "blue", "red"}  # duplicate ignored
print("Set Example:", colors, type(colors))
colors.add("yellow")
print("After adding 'yellow':", colors)

print("-" * 50)
# Exercise: Set operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)

print("-" * 50)

--------------------------------------------------
Set Example: {'green', 'blue', 'red'} <class 'set'>
After adding 'yellow': {'yellow', 'green', 'blue', 'red'}
--------------------------------------------------
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}
--------------------------------------------------

In [12]:
# 7️⃣ DICTIONARY (key-value pairs)

print("-" * 50)
person = {"name": "Alice", "age": 25, "city": "Paris"}
print("Dictionary Example:", person, type(person))
print("Name:", person["name"])
person["age"] = 26   # modify value
print("Updated Dictionary:", person)

print("-" * 50)
# Exercise: Highest marks in dictionary
students = {"John": 85, "Emma": 92, "Raj": 78}
top_student = max(students, key=students.get)
print("Top Student:", top_student, "Score:", students[top_student])

print("-" * 50)

--------------------------------------------------
Dictionary Example: {'name': 'Alice', 'age': 25, 'city': 'Paris'} <class 'dict'>
Name: Alice
Updated Dictionary: {'name': 'Alice', 'age': 26, 'city': 'Paris'}
--------------------------------------------------
Top Student: Emma Score: 92
--------------------------------------------------

In [13]:
# 8️⃣ NONE TYPE

print("-" * 50)
value = None
print("None Example:", value, type(value))

print("-" * 50)
# Exercise: Return None for negative number
def check_positive(num):
    if num < 0:
        return None
    else:
        return num

print("Check Positive (-5):", check_positive(-5))
print("Check Positive (10):", check_positive(10))

print("-" * 50)

--------------------------------------------------
None Example: None <class 'NoneType'>
--------------------------------------------------
Check Positive (-5): None
Check Positive (10): 10
--------------------------------------------------

# Conditional Statements

if condition:
     code runs if condition is True

elif another_condition:
     code runs if the first is False but this is True
     
else:
     code runs if all above conditions are False

In [10]:
num = 5

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

In [11]:
num = 7

if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

# Loop

for loop (used to iterate over a sequence)

while loop (used to repeat while a condition is true)

In [3]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [4]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [5]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [8]:
# break — stops the loop immediately

for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [9]:
# continue — skips the current iteration
 
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5