# List

### Sum of List Elements
Example:
Input: numbers = [1, 2, 3, 4, 5]
Output: 15 ---
Input: numbers = [10, -5, 7, 8, -2]
Output: 18

In [1]:
def sum_nums(nums):
    total = sum(nums)
    return total

numbers = [1, 2, 3, 4, 5]

print(sum_nums(numbers))

15

### Largest Element in a List
Example:
Input: numbers = [3, 8, 2, 10, 5]
Output: 10 ---
Input: numbers = [-5, -10, -2, -1, -7]
Output: -1

In [2]:
numbers = [1, 2, 3, 4, 5]

print(max(numbers))

5

In [3]:
numbers = [1, 2, 3, 4, 5]

print(min(numbers))

1

In [8]:
def find_largest(numbers):
    if not numbers:  # Check if the list is empty
        return None  # or raise an error depending on your need
    largest = numbers[0]  # Start by assuming the first element is the largest
    for num in numbers:
        if num > largest:
            largest = num
    return largest

# Examples:
print(find_largest([3, 8, 2, 10, 5]))      
print(find_largest([-5, -10, -2, -1, -7]))

10
-1

### Remove Duplicate in a List

Example:
Input: lst = [1, 2, 2, 3, 4, 4, 5]
Output: [1, 2, 3, 4, 5] ----
Input: lst = [4, 5, 5, 4, 6, 7]
Output: [4, 5, 6, 7]

In [11]:
def remove_duplicates(lst):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

# Examples:
print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))
print(remove_duplicates([4, 5, 5, 4, 6, 7]))

[1, 2, 3, 4, 5]
[4, 5, 6, 7]

### Check if all elements in a list are Unique
Example:
Input: lst = [1, 2, 3, 4, 5]
Output: True ----
Input: lst = [1, 2, 3, 3, 4, 5]
Output: False

In [12]:
def all_unique(lst):
    return len(lst) == len(set(lst))

# Examples:
print(all_unique([1, 2, 3, 4, 5]))
print(all_unique([1, 2, 3, 3, 4, 5]))

True
False

### Program to Reverse a List

Example:
Input: lst = [1, 2, 3, 4, 5]
Output: [5, 4, 3, 2, 1]

In [13]:
def reverse_list(lst):
    reversed_lst = []
    # Iterate from the last element to the first
    for i in range(len(lst)-1, -1, -1):
        reversed_lst.append(lst[i])
    return reversed_lst

# Example usage:
original_list = [1, 2, 3, 4, 5]
print("Original List:", original_list)
print("Reversed List:", reverse_list(original_list))

Original List: [1, 2, 3, 4, 5]
Reversed List: [5, 4, 3, 2, 1]

In [14]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [15]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

### Count Number of Odd and Even Elements in a List

Example:
Input: lst = [1, 2, 3, 4, 5]
Output: (2, 3)
There are 2 even numbers: 2, 4
There are 3 odd numbers: 1, 3, 5

In [18]:
def count_even_odd(lst):
    even_count = 0
    odd_count = 0

    for num in lst:
        if num % 2 == 0:
            even_count += 1
        else:
            odd_count += 1

    return (even_count, odd_count)

# Example usage:
lst = [1, 2, 3, 4, 5]
result = count_even_odd(lst)
print(result)

(2, 3)

# Maximum difference between two consecutive elements in a list.
Example:
Input: lst = [1, 7, 3, 10, 5]
Output: 7 ----
Input: lst = [10, 11, 15, 3]
Output: 12

In [31]:
lst = [1, 7, 3, 10, 5]

def max_consecutive_diff(lst):
    max_diff = 0

    for i in range(len(lst) - 1):
        diff = abs(lst[i] - lst[i + 1])
        if diff > max_diff:
            max_diff = diff

    return max_diff        
      


# Example usage:
lst1 = [1, 7, 3, 10, 5]
print(max_consecutive_diff(lst1)) 
lst2 = [10, 11, 15, 3]
print(max_consecutive_diff(lst2))

7
12

### Merge two Sorted List

input: list1 = [1, 3, 5], list2 = [2, 4, 6]
Output: [1, 2, 3, 4, 5, 6]

In [34]:
list1 = [1, 3, 5]
list2 = [2, 4, 6]

# Merge and sort
result = sorted(list1 + list2)

print(result)

[1, 2, 3, 4, 5, 6]

### Rotate a List

Example: 
Input: lst = [1, 2, 3, 4, 5], k = 2 
Output: [4, 5, 1, 2, 3] 

Input: lst = [10, 20, 30, 40, 50], k = 3 
Output: [30, 40, 50, 10, 20]

In [36]:
def rotate_list(lst, k):
    n = len(lst)
    k %= n  # handle cases where k > n
    return lst[-k:] + lst[:-k]

print(rotate_list([1, 2, 3, 4, 5], 2))

print(rotate_list([10, 20, 30, 40, 50], 3))

[4, 5, 1, 2, 3]
[30, 40, 50, 10, 20]

In [40]:
def rotate_list(lst, k):  
    # Rotate without slicing
    for _ in range(k):
        last = lst.pop()      # Remove last element
        lst.insert(0, last)   # Insert it at the beginning
    
    return lst


print(rotate_list([1, 2, 3, 4, 5], 3))

[3, 4, 5, 1, 2]

### Merge 2 List into Dictionary

Example:

Input: keys = ['a', 'b', 'c'], values = [1, 2, 3]
Output: {'a': 1, 'b': 2, 'c': 3}

Input: keys = ['x', 'y', 'z'], values = [10, 20, 30]
Output: {'x': 10, 'y': 20, 'z': 30}

In [41]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
result = dict(zip(keys, values))
print(result)


keys = ['x', 'y', 'z']
values = [10, 20, 30]
result = dict(zip(keys, values))
print(result)

{'a': 1, 'b': 2, 'c': 3}
{'x': 10, 'y': 20, 'z': 30}