# Pandas

Pandas is used for data manipulation and analysis using Series and DataFrame.

In [2]:
import pandas as pd

In [3]:
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)

### Difference between Series and DataFrame

Series is 1D,

DataFrame is 2D like a table.

In [5]:
s = pd.Series([10, 20, 30])
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})

print('-'*25)
print(s)
print('-'*25)
print(df)
print('-'*25)

-------------------------
0    10
1    20
2    30
dtype: int64
-------------------------
   A  B
0  1  3
1  2  4
-------------------------

### read and write files in Pandas

## ðŸ§  Summary Table

| File Type | Read Function          | Write Function     | Example                              |
|------------|------------------------|--------------------|--------------------------------------|
| CSV        | `pd.read_csv()`        | `df.to_csv()`      | `pd.read_csv("data.csv")`            |
| Excel      | `pd.read_excel()`      | `df.to_excel()`    | `pd.read_excel("data.xlsx")`         |
| JSON       | `pd.read_json()`       | `df.to_json()`     | `pd.read_json("data.json")`          |
| SQL        | `pd.read_sql()`        | `df.to_sql()`      | `pd.read_sql("SELECT * FROM t", conn)` |
| Parquet    | `pd.read_parquet()`    | `df.to_parquet()`  | `pd.read_parquet("data.parquet")`    |

In [ ]:
# ðŸ“˜ Pandas File Read & Write Examples

#import pandas as pd
#import sqlite3

# ------------------------------------
# 1ï¸âƒ£ CSV Files
# ------------------------------------
# Read CSV
df_csv = pd.read_csv("data.csv")
print("CSV Read:\n", df_csv.head())

# Write CSV
df_csv.to_csv("output.csv", index=False)
print("CSV written successfully!")

# ------------------------------------
# 2ï¸âƒ£ Excel Files
# ------------------------------------
# Read Excel
df_excel = pd.read_excel("data.xlsx", sheet_name="Sheet1")
print("Excel Read:\n", df_excel.head())

# Write Excel
df_excel.to_excel("output.xlsx", sheet_name="OutputSheet", index=False)
print("Excel written successfully!")

# Multiple sheets example
with pd.ExcelWriter("multi_sheet_output.xlsx") as writer:
    df_excel.to_excel(writer, sheet_name="Sheet1", index=False)
    df_csv.to_excel(writer, sheet_name="Sheet2", index=False)
print("Multiple sheets written successfully!")

# ------------------------------------
# 3ï¸âƒ£ JSON Files
# ------------------------------------
# Read JSON
df_json = pd.read_json("data.json")
print("JSON Read:\n", df_json.head())

# Write JSON
df_json.to_json("output.json", orient="records", indent=4)
print("JSON written successfully!")

# ------------------------------------
# 4ï¸âƒ£ SQL Databases
# ------------------------------------
# Create a SQLite connection
conn = sqlite3.connect("example.db")

# Write to SQL
df_csv.to_sql("employees", conn, if_exists="replace", index=False)
print("Data written to SQL successfully!")

# Read from SQL
df_sql = pd.read_sql("SELECT * FROM employees", conn)
print("SQL Read:\n", df_sql.head())

conn.close()

### Handle missing data
Use fillna(), dropna(), and isna()

In [13]:
df = pd.DataFrame({'A': [1, None, 3], 'B': [4, 5, None]})

print(df)
print('-'*25)

df1 = df.fillna(0)
print(df1)
print('-'*25)

df2 = df.dropna()
print(df2)
print('-'*25)

df3 = df.isna().sum()
print(df3)

     A    B
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN
-------------------------
     A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0
-------------------------
     A    B
0  1.0  4.0
-------------------------
A    1
B    1
dtype: int64

| Method/Option                         | Description                                      | Example                                                        |
|--------------------------------------|--------------------------------------------------|----------------------------------------------------------------|
| `isna()` / `notna()`                  | Detect missing values                             | `df.isna()`                                                    |
| `fillna(value=..., method=..., limit=...)` | Fill NaN with value/statistics/forward/backward | `df.fillna({'Age': df['Age'].mean(), 'Name':'Unknown'})`       |
| `interpolate(method=...)`             | Fill numeric NaN using interpolation             | `df['Age'].interpolate()`                                      |
| `dropna(axis=0/1, how=any/all, subset=..., thresh=...)` | Drop rows/columns with missing values | `df.dropna(subset=['Age'], how='any')`                         |
| Flagging missing                      | Create indicator for missing values              | `df['Age_missing'] = df['Age'].isna()`                         |

### Filter and select data

| Operation                     | Example                                     | Description                                  |
|-------------------------------|---------------------------------------------|----------------------------------------------|
| Select column                 | `df['Name']`                                | Get a single column                           |
| Select multiple columns       | `df[['Name','City']]`                       | Get multiple columns                          |
| Select row by index           | `df.iloc[0]`                                | Get row by position                           |
| Select row by label           | `df.loc[1]`                                 | Get row by index label                        |
| Conditional filter            | `df[df['Age'] > 28]`                        | Filter rows by condition                      |
| Multiple conditions           | `df[(df['Age']>28) & (df['City']=='SF')]`  | Filter using AND / OR                         |
| Filter with `isin()`          | `df[df['City'].isin(['NY','LA'])]`          | Filter for multiple possible values          |
| Filter with string methods    | `df[df['Name'].str.startswith('A')]`        | Filter based on string pattern               |
| Rows & columns together       | `df.loc[df['Age']>28, ['Name','City']]`     | Select specific rows and columns at once     |

In [15]:
df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
print(df['Name'])
print("-"*25)
print(df[df['Age'] > 25])

0    Alice
1      Bob
Name: Name, dtype: object
-------------------------
  Name  Age
1  Bob   30

### Group data and get summary
Use groupby() for aggregation.

In [16]:
df = pd.DataFrame({'Team': ['A', 'A', 'B'], 'Score': [10, 20, 30]})
print(df.groupby('Team')['Score'].mean())

Team
A    15.0
B    30.0
Name: Score, dtype: float64

### DataFrame operations

| Operation                  | One-line Description                                   | Example |
|-----------------------------|--------------------------------------------------------|---------|
| Build DataFrame             | Create a new DataFrame with defined columns           | `df = pd.DataFrame(columns=['Name','Age','City'])` |
| Generate DataFrame          | Read CSV/Excel into a DataFrame                        | `df = pd.read_csv('data.csv')` |
| Add Data Column             | Add a new column to an existing DataFrame             | `df['Salary'] = [50000,60000,55000]` |
| Add Data Row                | Insert a new row into a DataFrame                      | `df.loc[len(df)] = ['Alice',25,'NY']` |
| For Each Row                | Loop through each row for processing                  | `for idx, row in df.iterrows(): print(row['Name'])` |
| Get Row Item                | Get the value of a specific column in a row          | `age = df.loc[0, 'Age']` |
| Assign                      | Update values in a specific row or column            | `df.loc[0, 'Age'] = 26` |
| Filter DataFrame            | Extract rows that meet a condition                    | `df[df['Age']>30]` |
| Select                      | Get rows based on a filter expression                 | `df.loc[df['City']=='NY']` |
| Sort Data Table             | Sort rows by one or more columns                      | `df.sort_values(by='Age', ascending=False)` |
| Compute                     | Perform aggregate calculations on a column           | `df['Salary'].mean()` |
| Lookup Data Table           | Find a value using a key                               | `df.loc[df['Name']=='Alice', 'Salary'].values[0]` |
| Remove Data Row              | Delete a specific row                                  | `df.drop(index=0, inplace=True)` |
| Clear Data Table             | Remove all rows from the DataFrame                     | `df.drop(df.index, inplace=True)` |
| Merge DataFrame             | Combine two DataFrames into one                        | `pd.concat([df1, df2], ignore_index=True)` |
| Join Data Tables            | Perform inner/left/right join between DataFrames      | `df1.merge(df2, on='ID', how='left')` |
| Clone DataFrame             | Copy only structure (columns) without data           | `df_clone = pd.DataFrame(columns=df.columns)` |
| Copy DataFrame              | Copy structure and all data                            | `df_copy = df.copy()` |
| Remove Duplicate Rows       | Remove repeated entries                                 | `df.drop_duplicates(inplace=True)` |
| Output Data Table           | Convert DataFrame to string for display                | `print(df.to_string())` |
| Write Range                 | Export DataFrame to CSV or Excel                        | `df.to_csv('output.csv', index=False)` |

In [17]:
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [1, 2], 'Salary': [50000, 60000]})
pd.merge(df1, df2, on='ID')

   ID   Name  Salary
0   1  Alice   50000
1   2    Bob   60000

### How to apply a function on a column?

Use apply() or vectorized operations.

In [20]:
df = pd.DataFrame({'Salary': [50000, 60000]})

df1 = df

df1['Tax'] = df1['Salary'].apply(lambda x: x * 0.2)

print(df1)
print('-'*25)

##############################

df2 = df

def calculate_tax(salary):
    return salary * 0.2

df2['Tax'] = df2['Salary'].apply(calculate_tax)

print(df2)
print('-'*25)

##############################

df3 = df

df3['Tax'] = df3['Salary'] * 0.2

print(df3)

   Salary      Tax
0   50000  10000.0
1   60000  12000.0
-------------------------
   Salary      Tax
0   50000  10000.0
1   60000  12000.0
-------------------------
   Salary      Tax
0   50000  10000.0
1   60000  12000.0

### Sort and rank data
Use sort_values() and rank() methods.

In [30]:
df = pd.DataFrame({'Name': ['Bob', 'Alice'], 'Score': [80, 90]})
print(df)
print('-'*22)

df1 = df.sort_values(by='Score', ascending=False)
print(df1)
print('-'*22)

df2 = df
df2['Rank'] = df2['Score'].rank(ascending=False)
print(df2)

    Name  Score
0    Bob     80
1  Alice     90
----------------------
    Name  Score
1  Alice     90
0    Bob     80
----------------------
    Name  Score  Rank
0    Bob     80   2.0
1  Alice     90   1.0

### Pivot and reshape data
Use pivot() or melt() for reshaping tables.

In [32]:
df = pd.DataFrame({
    'Month': ['Jan', 'Jan', 'Feb', 'Feb'],
    'City': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250]
})

print(df)
print('-'*22)

df.pivot(index='Month', columns='City', values='Sales')

  Month City  Sales
0   Jan    A    100
1   Jan    B    150
2   Feb    A    200
3   Feb    B    250
----------------------

City     A    B
Month
Feb    200  250
Jan    100  150

### Correlation between columns?

Use .corr() to measure relationships between numeric columns.

In [33]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [2, 4, 6]})
print(df.corr())

     A    B
A  1.0  1.0
B  1.0  1.0

### Get top N records from each group?

Use groupby() + nlargest().

In [35]:
df = pd.DataFrame({
    'Month': ['Jan', 'Jan', 'Feb', 'Feb'],
    'City': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250]
})

df2 = df.groupby('Month')['Sales'].nlargest(2)

print(df2)

Month
Feb    3    250
       2    200
Jan    1    150
       0    100
Name: Sales, dtype: int64